@use 'sass:math';

@import 'settings';
@import '../../node_modules/foundation-sites/scss/foundation';

// Global styles
@include foundation-global-styles;
// @include foundation-forms;
@include foundation-typography;

// Grids (choose one)
// @include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
//@include foundation-progress-bar;
//@include foundation-slider;
//@include foundation-switch;
@include foundation-table;

// Basic components
//@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
//@include foundation-dropdown;
//@include foundation-pagination;
//@include foundation-tooltip;

// Containers
//@include foundation-accordion;
//@include foundation-media-object;
//@include foundation-orbit;
//@include foundation-responsive-embed;
//@include foundation-tabs;
//@include foundation-thumbnail;

// Menu-based containers
//@include foundation-menu;
//@include foundation-menu-icon;
//@include foundation-accordion-menu;
//@include foundation-drilldown-menu;
//@include foundation-dropdown-menu;

// Layout components
//@include foundation-off-canvas;
//@include foundation-reveal;
//@include foundation-sticky;
//@include foundation-title-bar;
//@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-prototype-classes;

@each $name, $color in $foundation-palette {
    .text-#{$name} {
        color: $color
    }
}

html, body {
    min-height: 100%;
}

body {
    display: grid;
}

main {
    display: block;
    width: min(rem-calc(775px), calc(100vw - 2 * $global-padding));
    justify-self: center;
}

pre.hljs {
    margin-bottom: 1rem;
}

@include breakpoint(small down) {
    pre > code {
        font-size: $small-font-size;
    }
}

.code-block {
    font-size: smaller;
}

.code-block.ascii-art {
    font-size: 8px;
    line-height: 6px;
    overflow: hidden;
}

.cover-image {
    aspect-ratio: 4 / 1;
    background: no-repeat 50% 50%;
    background-size: cover;
    display: grid;
    margin-bottom: $global-margin;

    justify-items: stretch;
    align-items: end;

    .title-wrapper {
        background-color: rgba($black, 50%);
        padding: $global-padding;
        display: grid;
    }

    h1 {
        width: min(rem-calc(775px), calc(100vw - 2 * $global-padding));
        justify-self: center;
        margin: auto;
    }
}

.solutions-list {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(min(rem-calc(360px), calc(100vw - 2 * $global-margin)), 1fr));
    grid-gap: $global-margin;
    margin-bottom: $global-margin;

    .solution {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: thin darken($primary-color, 40%) solid;
        padding: $global-padding;
        margin: 1px;

        .solution-title {
            font-size: rem-calc(18px);
            color: $white;
            line-height: 1.2;
            margin-bottom: 0.5rem;
        }

        .solution-links {
            display: grid;
            grid-template-columns: 1fr 1fr;

            @include breakpoint(rem-calc(360px) down) {
                grid-template-columns: 1fr;
            }

            a:before {
                content: '[';
                color: $light-gray;
            }

            a:after {
                content: ']';
                color: $light-gray;
            }
        }
    }
}

.related-content {
    border-top: thin darken($primary-color, 40%) solid;
    padding-top: $global-padding;

    display: grid;
    grid-gap: $global-margin;

    grid-template:
    "prev next"
    "other other"
    / 1fr 1fr;

    .prev-link {
        justify-self: left;
        grid-area: prev;
    }

    .next-link {
        justify-self: right;
        text-align: right;
        grid-area: next;
    }

    .other-links {
        grid-area: other;
    }

    @include breakpoint(rem-calc(520px) down) {
        grid-template:
      "prev"
      "next"
      "other"
      / 1fr;

        grid-gap: math.div($global-margin, 2);

        .next-link {
            justify-self: left;
            text-align: left;
        }
    }
}
