name: Build and Test Rust and Write-ups

on:
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  check-rust:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
          cache-dependency-path: pubs/package-lock.json

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-check-${{ hashFiles('**/Cargo.lock') }}

      - name: Build Rust
        run: cargo build --verbose

      - name: Run Rust tests
        run: cargo test --verbose

      - name: Test Rust Docs
        run: |
          export RUSTDOCFLAGS="-Dwarnings"
          cargo doc --all --no-deps --document-private-items --all-features

      - name: Test Blog
        working-directory: ./pubs
        run: |
          npm ci --ignore-scripts
          npm run build
      
